
{{#each music}}
<section>
    <header>
        <h2>{{song}}</h2>
      </header>
      <ul>
        <li>{{artist}}</li>
        <li>{{album}}</li>
        <li>{{genre}}</li>
      <li><button class="delete">X</button></li>
      </ul>
</section
{{/each}}

